<div class="footer">
<div class="help-center">
  <h2>Help Center</h2>
  <a href="">Contact Us</a>
  <a href="">How to order</a>
  <a href="">Return Item</a>
  <a href="">Returns & Exchanges</a>
  <a href="">FAQs</a>
</div>

<div class="help-center">
  <h2>Policies</h2>
  <a href="">Privacy</a>
  <a href="">Security</a>
  <a href="">Site Security</a>
  <a href="">Terms & Conditions</a>

</div>

<div class="help-center">
    <h2>Social Media</h2>
    <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
    <a href="#"><i class="fab fa-facebook"></i>facebook</a>
    <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Tanya
  </div>
</div>
