.container{
  max-width: fit-content;
  margin: 25px;
}

.top-three-images{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.top-three-images img{
  width: 35%;
  padding: 37px;
}
.recent h1{
  font-family: 'Satoshi', sans-serif;
}
.my-5{
  margin-top: 3rem !important;
}
.card-container {
  display: grid;
  grid-template-columns: 4fr;
  grid-gap: 16px;
  margin-top: 16px;
  padding-bottom: 100px;
  transition: transform 0.3s ease;

}

/* For tablets: */
@media (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For desktop: */
@media (min-width: 992px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Common card styling */
.card {
  // box-shadow: none; /* Remove box shadow */
  border: 0px;
  background-color: #ffffff;
  transition: transform 0.3s ease;
  margin:5px;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;


}
.card:hover{
  color:rgb(117, 28, 219)
}
.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font: bold;
}

.card p {
  font-size: 15px;
  opacity: .7;
  margin: 0;
  position: relative;
  left: 0;
  padding-top: 12px;
  font-family: inherit;
}

.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  }

.show-card-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  border-radius: 0; /* Remove border radius */
  box-shadow: none;
  }

.card .card-infos .card-avatar {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  // border-radius: 20px;
}

.card .card-price {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.show-details-link{
  text-decoration: none;
}


.card-container:hover {
  transform: translateZ(20px);
}
