<!-- app/views/sneakers/magazine.html.erb -->
<div class="magazine-header">
  <div class="magazine-info">
      <h1>Nike</h1>
      <h2>Journal</h2>
      <img src="https://res.cloudinary.com/dw1yozuyk/image/upload/v1692302192/grid_landscape-removebg-preview_1_juuis9.png" alt="">
      <p style="postion:absolute">Stories that move you. </p>
   </div>
</div>


<div class="nike-section">
   <h1>New.</h1>
    <div class="nike-image"style="display:inline-flex;padding: 20px;margin: 0px;width: fit-content;">
      <img src="https://res.cloudinary.com/dw1yozuyk/image/upload/v1692281101/WhatsApp_Image_2023-08-17_at_16.04.35_jkx4lp.jpg" alt="">
    <p>The latest arrival from Drake's ongoing Nike collaboration is a spin on the classic Tech Fleece.
     <br> The Nocta Tech Fleece appears to have a more cozy cut, featuring a relaxed leg compared to the narrow jogger style of a typical Tech Fleece.⁠</p>
    </div>
</div>

<div class="three">
 <img src="https://res.cloudinary.com/dw1yozuyk/image/upload/v1692283811/WhatsApp_Image_2023-08-17_at_16.49.41_y08qxd.jpg" alt="">
 <img src="https://res.cloudinary.com/dw1yozuyk/image/upload/v1692283949/WhatsApp_Image_2023-08-17_at_16.34.47_sletiu.jpg" alt="">
 <div class="info">
  <h2>JUST DO IT</h2>
 </div>
</div>
